// Colors

:root {
    --orange: #e74624;
    --orange-dark: #d53211;
    --orange-100: rgba(231, 70, 36, 0.12);
    --orange-200: rgba(231, 70, 36, 0.18);
    --blue: #11364f;
    --blue-dark: #003c63;
    --creamy-white: #fcf4ce;
    --gray-100: #F3F6FB;
    --gray-200: #E2E8F0;
    --gray-400: #7B99BE;
    --gray-500: #23628D;
}
